<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845451996034-r55n3jcnfop9hgl02i96jcueo0nv293j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845451996034-r55n3jcnfop9hgl02i96jcueo0nv293j</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ_WSjXOGsNB6kbxohqH8uvAjtDgWBS5s</string>
	<key>GCM_SENDER_ID</key>
	<string>845451996034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itiFinalProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>final-project-42ecf</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-42ecf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845451996034:ios:2c1f8b8d8e728f411e3d9b</string>
</dict>
</plist>